<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-10">
      <h4 class="text-center my-3">Select your custom disabled options:</h4>
      <%= simple_form_for([@dop, @bm], html: { id: "disable_option_form" }, url: bicycle_model_disabled_options_path, method: :post ) do |f| %>
        <div id="disabled_options" class="mt-5">
         <div class="links">
           <%= link_to_add_association 'add more', f, :disabled_options, class: "btn btn-outline-primary my-3 newDo" %>
         </div>
        </div>
        <%= f.submit "submit", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
