<div class="navbar navbar-expand-sm navbar-light navbar-pandabize">
  <div class="container">

    <%= link_to root_path, class: "navbar-brand" do %>
      <strong style="color: red; text-transform: uppercase">Pandabize</strong>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item active">
              <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
