<div class="nested-fields">
  <div class="d-flex mt-3">
    <div class="pr-3"><%= f.input :content, label: false %></div>
    <div class="pt-1"><%= link_to_remove_association '<i class="fas fa-minus"></i>'.html_safe, f  %>
    </div>
  </div>
</div>
