.high-input {
  height: 200px !important;
}

.bold-text {
  font-weight: bolder;
}

.form-card {
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.smaller-para {
  font-size: 16px;
  margin-top: 10px;
}
