.navbar-pandabize {
  justify-content: space-between;
  background: white;
  border-bottom: 3px solid red;
  border-top: 3px solid red;
}

.navbar-pandabize .navbar-collapse {
  flex-grow: 0;
}

.navbar-pandabize .navbar-brand img {
  width: 40px;
}
